.dialog_item {
    display: grid;
    grid-template-columns: 10fr 20fr;
    padding: 10px;
}

.dialog_item:hover a {
    color: gold;
}

.dialogs_items .active {
    font-weight: bold;
    color: goldenrod;
}

.avatar_photo {
    padding-left: 15px;
}

.avatar_photo img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.avatar_photo img:hover {
    height: 46px;
    width: 46px;
    border: solid 2px gold;
    border-radius: 15px;
}

.dialog_name {
    align-self: center;
}

.dialog_name a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
