.activeLink {
    color: goldenrod;
    font-weight: bold;
    text-decoration: underline;
    font-size: 100%;
}

.pages_buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 18px 5px;
    width: auto;
}

.pages_buttons div {
    padding-right: 10px;
}

.pages_buttons div:hover {
    color: gold;
}

.pagesPortion {
    margin-left: 115px;
}

.buttonPrev {
    margin-left: 85px;
    margin-right: 10px;
}

.buttonNext, .buttonNextDisabled {
    margin-left: 415px;
    position: absolute;
}


.buttonPrevDisabled {
    margin-left: 85px;
    margin-right: 50px;
}
