.activeLink {
    color: goldenrod;
    font-weight: bold;
    /*text-decoration: underline;*/
    font-size: 100%;
}

.pages_buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin: 18px 5px;*/
    /*font-size: 120%;*/
    width: auto;
}

.pages_buttons div {
    padding-right: 10px;
}

.pages_buttons div:hover {
    color: gold;
}

.pagesPortion {
    margin-left: 115px;
}

.buttonPrev {
    margin-left: 85px;
    margin-right: 10px;
    font-size: 70%;
}

.buttonNext, .buttonNextDisabled {
    margin-left: 413px;
    position: absolute;
    font-size: 70%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.buttonPrevDisabled {
    margin-left: 85px;
    margin-right: 50px;
    font-size: 70%;
}
