.userPhoto {
    width: 75px;
}

.fullName {
    color: gold;
    text-decoration: none;
}

.fullName:hover {
    color: goldenrod;
}

.location .locationCountry {
    margin-bottom: 25px;
}

.descriptions_block span {
    margin-right: 10px;
}

.follow_button {
    margin-left: 7px;
}

.follow_button:hover button {
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    border-color: whitesmoke;
}

.img_avatar:hover img {
    background-color: black;
    border-radius: 45px;
}

.user {
    color: whitesmoke;
    font-size: 175%;
    padding: 25px;
    margin-bottom: 25px;
}

.user_block {
    margin: 5px 50px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.user_block:hover {
    border: solid 1px whitesmoke;
    border-radius: 5px;
    padding: 14px;
}
