.users {
    color: whitesmoke;
    font-size: 200%;
    padding: 25px;
}

.users a {
    color: whitesmoke;
    font-size: 200%;
    padding: 25px;
    text-decoration: none;
}

.users a:hover {
    color: gold;
}
