.users {
    color: whitesmoke;
    font-size: 100%;
    padding: 25px;
}

.users a {
    color: whitesmoke;
    font-size: 100%;
    padding: 25px;
    text-decoration: none;
}

.users a:hover {
    color: gold;
}

