.users {
    color: whitesmoke;
    font-size: 200%;
    padding: 25px;
    margin-bottom: 25px;
}

.users .getUsers {
    margin-bottom: 25px;
}

.users a {
    color: whitesmoke;
    text-decoration: none;
}

.users a:hover {
    color: gold;
}

.userPhoto {
    width: 75px;
}

.fullName {
    color: gold;
    text-decoration: none;
}

.fullName:hover {
    color: goldenrod;
}

.location .locationCountry {
    margin-bottom: 25px;
}

.users_block {
    margin: 5px 50px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.users_block:hover {
    border: solid 1px whitesmoke;
    border-radius: 5px;
    padding: 14px;
}

.activeLink {
    color: goldenrod;
    font-weight: bold;
text-decoration: underline;
    font-size: 100%;
}

.pages_buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px;
    width: auto;
}

.pages_buttons div {
    padding-right: 10px;
}

.pages_buttons div:hover {
    color: gold;
}
