.my_posts_main {
    padding: 10px;
    background: #3a3a3a;
}

.my_posts_label {
    font-size: 125%;
    margin-left: 45px;
}

h3 {
    color: whitesmoke;
}

h3:hover {
    color: gold;
}

.textarea {
    padding: 15px 45px;
}

.textarea textarea {
    background-color: whitesmoke;
    height: 75px;
    padding: 5px;
    wrap-option: wrap;
    overflow-wrap: break-word;
    border: 2px solid black;
    margin-bottom: -5.4px;
}

.textarea textarea:hover {
    border-color: gold;
    border-radius: 5px;
    background-color: antiquewhite;
}

.buttons {
    padding: 5px;
}

.buttons .button {
    margin: 5px 90px 5px 5px;
    background-color: #999;
    border: 1px solid black;
}

.buttons .button:hover {
    background-color: #404040;
    border: 1px solid wheat;
    border-radius: 2px;
    color: whitesmoke;
    width: 99px;
}

.buttons button {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
}

.posts_block {
    padding: 5px;
    margin-bottom: 150px;
}

.posts_block img {
    padding-right: 10px;
}

.post_button {
    margin-top: 10px;
    border: 1px solid transparent;
}

.post_button:hover {
    border-color: gold;
    border-radius: 3px;
    background-color: #fff;
}
