.my_posts_main {
    padding: 10px;
    background: #2c2e47;
}

.my_posts_label {
    font-size: 125%;
    margin-left: 45px;
}

h3 {
    color: whitesmoke;
}

h3:hover {
    color: gold;
}

.textarea {
    padding: 15px 45px;
}

.textarea textarea {
    background-color: whitesmoke;
    height: 15px;
    padding: 5px;
}

.textarea textarea:hover {
    border: 2px solid gold;
    border-radius: 5px;
    background-color: antiquewhite;
}

.buttons {
    padding: 5px;
}

.buttons .button {
    margin: 5px 90px 5px 5px;
    background-color: #999;
}

.buttons .button:hover {
    background-color: #404040;
    border: 1px solid wheat;
    border-radius: 2px;
    color: whitesmoke;
    width: 99px;
}

.buttons button {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
}

.posts_block {
    padding: 5px;
    margin-bottom: 150px;
}

.posts_block img {
    padding-right: 10px;
}

