.form_control {
}

.form_control .error textarea,
.form_control .error input {
    border: 3.5px solid red;
    margin-bottom: -30px;
}

.form_control span {
    color: red;
    margin-left: 35px;
    z-index: 100;
    position: relative;
    padding-bottom: 10px;
}

.inputCheckbox .not_remember {
    color: red;
    margin-top: -5px;
    padding-top: 2px;
}

.inputCheckbox .remember {
    color: whitesmoke;
}

.inputCheckbox span {
    padding-top: 2px;
    padding-left: 4px;
}

@media only screen and (max-width: 1000px) {
    .inputCheckbox {
        margin-left: -130px;
    }
}
