.logo {
    width: 70px;
    margin-top: 20px;
    margin-left: 35px;
}

.header_block {
}

.header_block img:hover {
    border: 2px solid gold;
    width: 66px;
    border-radius: 5px;
}

.login_block {
    float: right;
    margin-top: 25px;
    margin-right: 35px;
    padding: 5px 10px;
    text-decoration: none;
}

.login_block a {
    color: whitesmoke;
    text-decoration: none;
}

.login {
    color: whitesmoke;
    border-radius: 5px;
    padding: 4px 12px;
}

.login:hover {
    color: #191a28;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid gold;
    padding: 4px 6.5px;
    font-weight: bold;
}

.logout{
    font-size: 75%;
    padding: 5px 12px;
    border-radius: 5px;
    color: lightcoral;
    text-decoration: none;
    background-color: #191a28;
    border: 0;
}

.logout:hover{
    font-size: 100%;
    padding: 5px 11px;
    background-color: #390f00;
    border-radius: 5px;
    border: 1px solid darkred;
    color: #be0000;
    margin-top: -5px;
}

.login_process {
    width: 55px;
    float: right;
    padding-top: 28px;
    margin-left: -55px;
}
