nav {
    margin-top: 10px;
}

.avatars_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.avatars_top div:hover {
    margin-top: 5px;
    transition-duration: 1s;
}

.avatar_block {
    padding-right: 10px;
    width: 200px;
}

.friends {
    font-size: 100%;
    text-align: right;
    margin-right: 15px;
}

.friends a {
    color: whitesmoke;
    text-decoration: none;
}

.friends a.activeLink {
    color: goldenrod;
    text-decoration: underline;
    font-style: italic;
    font-size: 100%;
}

.friends a:hover {
    color: gold;
}

.settings {
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
    margin-top: -47px;
}

.settings a:hover, .friends a:hover {
    margin-right: 25px;
    transition-duration: 1s;
}
