nav {
    margin-top: 10px;
}

.item {
    padding-left: 35px;
    padding-top: 3px;
}

.item a {
    text-decoration: none;
    color: whitesmoke;
}

.item a.activeLink {
    text-decoration: none;
    color: goldenrod;
    font-style: italic;
    font-size: 110%;
}

.item a:hover {
    color: gold;
}

.bold {
    font-weight: bold;
}

.avatars_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.avatar_block {
    padding-right: 10px;
    width: 200px;
}

.friends {
    font-size: 125%;
    text-align: center;
}

.friends a {
    color: whitesmoke;
    text-decoration: none;
}

.friends a.activeLink {
    color: goldenrod;
    text-decoration: underline;
    font-style: italic;
    font-size: 100%;
}

.friends a:hover {
    color: gold;
}
