.friends {
    padding: 1px;
}

.friends h3 {
    font-size: 100%;
    padding-left: 120px;
    color: whitesmoke;
    text-decoration: underline;
}

.avatar_photo {
    padding: 25px;
}

.avatar_photo img {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 25px;
    margin-left: 20px;
}

.avatar_name {
    font-weight: bold;
    font-style: italic;
    padding-top: 40px;
}

.avatar_name a {
    color: whitesmoke;
    text-decoration: none;
}

.avatar_name a:hover {
    color: gold;
}

.avatar_block {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
