.avatar_block {
    display: grid;
    grid-template-columns: 1fr 15fr;
    padding-left: 10px;
}

.avatar_block:hover a {
    color: gold;
}

.avatar_photo {
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 15px;
}

.avatar_photo img {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 25px;
    margin-left: 0;
}

.avatar_photo img:hover {
    height: 46px;
    width: 45px;
    border: solid 2px gold;
    border-radius: 15px;
}

.avatar_name {
    font-weight: bold;
    font-style: italic;
    padding-top: 30px;
}

.avatar_name a {
    color: whitesmoke;
    text-decoration: none;
}
