.profile_block {
}

.profile_description {
    display: grid;
    grid-template-columns: 10fr 30fr;
    padding: 25px;
}

.bgc_photo {
    width: 100%;
}

.avatar {
    width: 241px;
    border: 2px solid whitesmoke;
    margin: 15px 25px 25px 25px;
}
.avatar:hover {
    border: 2px solid gold;
    border-radius: 5px;
    width: 241px;
}

.name {
    color: whitesmoke;
    font-weight: bold;
    padding: 10px 10px 20px 10px;
}

.name:hover {
    color: gold;
}

.info_main {
    padding: 10px 10px 20px;
}

.info:hover {
    color: gold;
}

.info {
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding: 5px;
}

.info_name {
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding: 5px;
}

.info_data:hover {
    text-decoration: underline;
}

.info_data input {
    width: 172px;
}

.info_data input:hover {
    border: 2px solid gold;
    border-radius: 5px;
    background-color: #999999;
    color: gold;
    font-weight: bold;
}

.info_main_block {
}
