.item {
    color: whitesmoke;
    padding: 10px 1px 10px 25px;
    border: 1px solid whitesmoke;
    width: 300px;
    border-radius: 5px;
    margin: 25px;
}

.item img {
    width: 50px;
    margin-bottom: 5px;
}

.item span {
    wrap-option: wrap;
    overflow-wrap: break-word;
}

.item:hover {
    border: 1px solid gold;
    color: gold;
}

.item_img_message {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5px;
}

.item_img_message span {
    color: lightblue;
}

.item_img_message span:hover {
    font-weight: bold;
}

.item:hover .item_img_message span {
    text-decoration: underline;
}
