.login {
    font-size: 100%;
    min-height: 320px;
    text-align: center;
    padding-top: 120px;
}

.login a {
    text-decoration: none;
    color: whitesmoke;
}

.login a:hover {
    color: gold;
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 55px;
    background-color: black;
}

.login_form {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    margin-left: 35%;
    width: 400px;
    padding: 25px;
    background-color: #211d22;
}

.login_form:hover {
    background-color: #191a28;
}

.login_form h1 {
    margin: 0 0 5px 0;
    padding-bottom: 10px;
}

.login_form h1:hover {
    text-decoration: underline;
    color: whitesmoke;
}

.login_form div {
    padding-top: 5px;
}

.login_form input {
    padding-left: 5px;
    border-radius: 5px;
}

.login_form input:hover {
    border-color: gold;
}

.login_form button {
    margin-left: 0;
    width: 125px;
    border-radius: 5px;
}

.login_form button:hover {
    background-color: white;
    border-color: gold;
}

.checkbox {
    margin-left: 122px;
    display: flex;
}

.checkbox span {
    padding-bottom: 3px;
    padding-left: 4px;
}

.checkbox:hover {
}
