body {
    background-color: black;
}

.app_wrapper {
    background-color: black;
    display: grid;
    grid-template-areas: 'h h' 'n c';
    grid-template-rows: 78px 1fr;
    grid-template-columns: 2fr 51fr;
    grid-gap: 10px;
}

.app_wrapper_content {
    background-color: #404040;
    height: 850px;
}

.header {
    grid-area: h;
    background-color: #191a28;
}

.nav {
    grid-area: n;
    background-color: #211d22;
}

.content_wrapper {
    grid-area: c;
    background: #303030;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #211d22; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-dark); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #322f33; /* creates padding around scroll thumb */
}

::selection {
    background-color: transparent;
    color: goldenrod;
}
