.dialogs_block {
    padding-top: 1px;
}

.dialogs_block .h {
    color: whitesmoke;
    font-size: 200%;
    font-weight: bold;
    padding: 15px 0 35px 35px;
}

.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.dialogs_items {
    padding: 10px;
}

.messages_in_items {
    padding: 10px;
    color: pink;
    margin-left: 150px;
}

.messages_in_items p {
    padding-left: 30px;
}

.messages_in_items p:hover {
    color: hotpink;
}

.messages_out_items {
    padding: 10px;
    color: lightblue;
}

.messages_out_items p {
    padding-left: 30px;
}

.messages_out_items p:hover {
    color: dodgerblue;
}

.messages_out_items button {
    margin-top: 10px;
    margin-right: 50px;
    padding: 5px;
    width: 75px;
    border-radius: 5px;
}

.messages_out_items textarea {
    border: 2px solid whitesmoke;
    width: 300px;
}
.messages_out_items textarea:hover {
    border: 2px solid gold;
    border-radius: 5px;
    background-color: antiquewhite;
}
